<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Admin/IdeaProjects/APIAutomationProject5X/src/test/java/com/thetestingacademy/testNG"><classes><class name="com.thetestingacademy.testNG.testNGExample.TestNG001"><methods><include name="demo5"/></methods></class><class name="com.thetestingacademy.testNG.testNGExample.TestNG002"><methods><include name="testNonBDDStylePUTRequest"/></methods></class><class name="com.thetestingacademy.testNG.testNGExample.TestNG013"><methods><include name="testCase1"/><include name="testCase2"/></methods></class></classes></test></suite>